<link href="css/footer.css" rel="stylesheet">
<footer>
    <div class="ft_up">
        <span class="ft_text">Meta</span>
        <span class="ft_text">소개</span>
        <span class="ft_text">블로그</span>
        <span class="ft_text">채용 정보</span>
        <span class="ft_text">도움말</span>
        <span class="ft_text">API</span>
        <span class="ft_text">개인정보처리방침</span>
        <span class="ft_text">약관</span>
        <span class="ft_text">인기 계정</span>
        <span class="ft_text">해시태그</span>
        <span class="ft_text">위치</span>
        <span class="ft_text">Instagram Lite</span>
    </div>
    <div class="ft_down">
        <select class="ft_language">
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
            <option>한국어</option>
        </select>
        <span class="ft_text">© 2021 Instagram from MINGI</span>
    </div>


</footer>

</body>
</html>