.modal_background_post{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
.modal_background_post_exit{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;

}
.modal_container_post{
    background-color: white;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.post_upload_header{
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.post_upload_image{
    flex-direction: column;
    justify-content: center;
}
.post_upload_image > div:first-child{
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #DCDCDC;
    padding:0 10px;
    align-items: center;
}
.modal_image_container{
}
.modal_image_container > form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_image_container > form > svg{
    margin-bottom: 10px;
}
.modal_image_container > form > span {
    font-size: 22px;
    margin-bottom: 20px;
}
.modal_image_container > form > button{
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 9px;
    font-size: 14px;
}
.modal_image_slider{
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.drag{
    cursor:grab;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.img_slider_icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_slider_icon:nth-child(2){
    left:8px;
}
.img_slider_icon:nth-child(4){
    right:8px;
}
.img_slider_icon:nth-child(5){
    left: 8px;
    bottom: 8px;
}
.img_slider_icon:nth-child(6){
    left: 48px;
    bottom: 8px;
}
.img_slider_icon:nth-child(7){
    right:8px;
    bottom:8px;
}
.img_cut{
    flex-direction: column;
    position: absolute;
    bottom : 28px;
    left: 0px;
    background-color: rgba(0,0,0,0.60);
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    display: none;
}
.img_cut > div{
    width: 84px;
    height: 48px;
    justify-content: space-around;
    align-items: center;
}
.img_cut > div:not(:last-child){
    border-bottom: 1px solid #8e8e8e;
}
.zoom_div{
    width: 132px;
    height: 32px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 7px;
    position: absolute;
    bottom : 28px;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.zoom_input{
    background: transparent;
    width: 108px;
    height: 12px;
    appearance: none;
    cursor:pointer;
}
.zoom_input::-webkit-slider-runnable-track {
    background: white;
    height: 1px;
}
.zoom_input::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    margin-top: -8px;
}
.img_slider_dots{
    position: absolute;
    bottom: 22px;
}
.img_slider_dot{
    height: 6px;
    width: 6px;
    background-color: #a8a8a8;
    border-radius: 50%;
}
.img_slider_dot:not(:last-child){
    margin-right: 4px;
}
.img_slider_gallery{
    height: 118px;
    padding: 12px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    max-width: 97%;
    right: 8px;
    display: none;
}
.img_slider_gallery_add{
    display: flex;
    background: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    min-width: 48px;
}
.img_slider_gallery_slider{
    margin-right: 5px;
    overflow: hidden;
    height: 100%;
    position: relative;
    align-items: center;

}
.img_slider_gallery_list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: 100%;
}
.img_slider_gallery_img{
    width: 94px;
    height: 94px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    display: flex;
    left: 0;
    margin: 0 6px;
    cursor: pointer;
    filter : brightness(50%);
}
.img_slider_gallery_img_focus{
    filter: brightness(100%);
}
.drag_mini{
    position: absolute;
    width: 94px;
    height: 125px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.img_slider_icon_mini_prev{
    background-image: url("/images/Logo2.png");
    background-repeat: no-repeat;
    background-position: -379px -128px;
    height: 45px;
    width: 45px;
    position: absolute;
    left:0;
}
.img_slider_icon_mini_next{
    background-image: url("/images/Logo2.png");
    background-repeat: no-repeat;
    background-position: -244px -107px;
    height: 45px;
    width: 45px;
    position: absolute;
    right: 0;
}
.filter_canvas_slider{
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.canvas_slider_button{
    width: 32px;
    height: 32px;
    position: absolute;
    display: flex;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    z-index: 10;
}
#prev_canvas{
    left:0
}
#next_canvas{
    right:0
}
.filter_canvas{
    position: absolute;
}
.filter_div{
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.filter_text{
    width: 50%;
    height: 53px;
    font-weight: bold;
    color: #8e8e8e;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #8e8e8e;
    cursor: pointer;
}
.filter_list{
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: space-between;
}
.filter_modify{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.filter{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.filter > img{
    width: 88px;
    height: 88px;
    border-radius: 5px;
    margin-bottom: 7px;
}
.filter > span{
    color: #8e8e8e;
    font-size: 12px;
}

.filter_selected>img{
    border: 2px solid #0095f6;
}
.filter_selected>span{
    color: #0095f6;
    font-weight: bold;
}
.grayscale{
    filter:grayscale(1)
}
.upload_comment_write{
    width: 100%;
    flex-direction: column;
}
.upload_user_info{
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 20px;
}
.upload_user_info>img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}
.upload_user_info>span{
    font-weight: bold;
}
.upload_user_comment{
    width: 100%;
    padding:0 20px;
    height: 170px;
    border:none;
    outline:none;
    resize:none;
    font-size: 16px;

}
.cpcc7 > span{
    color: #c7c7c7;
}
.expansion{
    border-left: 1px solid #DCDCDC;
    flex:1;
}
#modal_container_exit{
    width: 400px;
    height: 200px;
    background: white;
    border-radius: 12px;
    flex-direction: column;
}
#modal_container_exit > button{
    display: flex;
    font-weight: bold;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dbdbdb;
}
