{{>layouts/header}}
<link href="css/post.css" rel="stylesheet">
<script type="text/javascript" src="js/post.js"></script>

<div class="main">
    <div class="main_left" id = "main_left">
        <div class="recently_story">
            <button class="story_user">
                <div class="new_story_gradation">
                    <img class="story_img" src="images/GUGU.jpg">
                </div>

                <span class="story_name">GUGU</span>
            </button>
            <button class="story_user">
                <div class="new_story_gradation">
                    <img class="story_img" src="images/GUGU.jpg">
                </div>

                <span class="story_name">GUGU</span>
            </button>
            <button class="story_user">
                <div class="new_story_gradation">
                    <img class="story_img" src="images/GUGU.jpg">
                </div>

                <span class="story_name">GUGU</span>
            </button>
        </div>
        <!-- post -->

        <!-- -->

    </div>
    <div class="main_right" style="display: none">

    </div>
</div>
</body>
</html>