{{>layouts/header}}
<link href="css/post.css" rel="stylesheet">
<script type="text/javascript" src="js/post.js"></script>
<div class="main">
    <div class="main_left" id = "main_left">
        <div class="recently_story">
            <button class="story_user">
                <div class="new_story_gradation">
                    <img class="story_img" src="images/GUGU.jpg">
                </div>

                <span class="story_name">GUGU</span>
            </button>
            <button class="story_user">
                <div class="new_story_gradation">
                    <img class="story_img" src="images/GUGU.jpg">
                </div>

                <span class="story_name">GUGU</span>
            </button>
            <button class="story_user">
                <div class="new_story_gradation">
                    <img class="story_img" src="images/GUGU.jpg">
                </div>

                <span class="story_name">GUGU</span>
            </button>
        </div>
        <!-- post -->
        <div class="post">
            <div class="post_header">
                <div class="post_new_story_gradation">
                    <img class="post_user_img" src="images/GUGU.jpg">
                </div>

                <span class="post_name">GUGU</span>
                <div class="background_logo2 post_dots"></div>
            </div>
            <div class="post_images">
                <img class="post_image" src="images/GUGU.jpg">
            </div>
            <div class="post_info">
                <div class="post_icons">
                    <div class="post_icons_left">
                        <div class="background_logo2 post_like_icon"></div>
                        <div class="background_logo2 post_comment_icon"></div>
                        <div class="background_logo2 post_share_icon"></div>
                    </div>
                    <div class="background_logo2 post_bookmark_icon"></div>
                </div>
                <div class="post_like">
                    <a class="post_insta" href="">USERNAME</a>님이 좋아합니다
                </div>
                <div class="post_comments">
                    <span>
                        <a class="post_insta">ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ</a>
                    </span>
                    <span>
                    꾸꾸 졸라 귀엽당
                        <a class="tag" href="">@ming._.i</a>
                        ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
                    </span>

                </div>
                <div class="post_comments">
                    <span>
                        <a class="post_insta">ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ</a>
                    </span>
                    <span>
                    꾸꾸 졸라 귀엽당
                        <a class="tag" href="">@ming._.i</a>
                        ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
                    </span>

                </div>
                <div class="post_time">
                    n시간 전
                </div>
            </div>
            <div class="post_write_comment">
                <div class="post_emoticon"></div>
                <textarea placeholder="댓글 달기..." class="post_write_comment_textarea"></textarea>
                <button class="post_write_comment_button">게시</button>
            </div>
        </div>
        <!-- -->

    </div>
    <div class="main_right" style="display: none">

    </div>
</div>
</body>
</html>